body {
    background-color: white;
    color: black;
    font-size: medium;
    font-family: sans-serif;
}

div.body {
    background-color: black;
    color: white;
    border: 1px solid red;
    padding: 1em;
    margin: 1em;
}

a {
    text-decoration: none;
    color: #8888ff;
}

a:hover {
    text-decoration: underline;
}

div.heading {
    margin: 0;
    padding: 0;
}

div.sections {
    color: white;
    padding: 0;
    margin: 0;
    max-width: 40em;
}

div.sections ul.sections {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div.sections li {
    padding: 2em 0 0 0;
    margin: 0;
}

div.sections span.title {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

div.sections span.title:before {
    content: "> ";
}

div.sections p {
    padding: 0;
    margin: 1em 0;
}

ul.features, ul.papers {
    list-style-type: circle;
    margin: 1em 0;
}

ul.features li, ul.papers li {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}
